# Виртуальное окружение Python
venv/

# Файлы и папки, созданные Flask
__pycache__/
instance/
*.pyc

# Локальные базы данных SQLite
*.sqlite

# Файлы сборки и временные файлы
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
._*
*~

# Окружение Node.js (если используется)
node_modules/

# Файлы для настройки среды разработки (например, Visual Studio Code)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Файлы, содержащие конфиденциальную информацию (например, ключи API)
config.py

# Файлы логов и кэша (если используются)
logs/
*.log

# Пользовательские файлы
ReadmeJS.md
